@page "/login"
@model FlowPress.Pages.Authentication.LoginPage
@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Authentication/auth-forms.css" asp-append-version="true"/>
}

<form method="post" asp-page-handler="Login">
    @Html.AntiForgeryToken()
    <div class="form-container">
        <main class="form-card">
            <div class="form-header">
                <p class="form-title">Iniciar sesión en su cuenta</p>
                <p class="form-subtitle">Introduzca tus credenciales para acceder a tu panel de control</p>
            </div>

            <div class="flex flex-col gap-6">
                <label class="flex flex-col">
                    <p class="form-label">Correo electrónico</p>
                    <div class="input-group">
                        <input asp-for="LoginModel.Email" class="form-input" placeholder="Introduzca su correo electrónico"
                               type="email"/>
                        <div class="input-icon">
                            <span class="material-symbols-outlined" style="font-size: 20px;">person</span>
                        </div>
                    </div>
                </label>

                <label class="flex flex-col">
                    <p class="form-label">Contraseña</p>
                    <div class="input-group">
                        <input asp-for="LoginModel.Password" class="form-input" placeholder="Introduzca su contraseña"
                               type="password"/>
                        <div class="input-icon">
                            <span class="material-symbols-outlined" style="font-size: 20px;">lock</span>
                        </div>
                    </div>
                </label>

                <button type="submit" class="btn-primary">Iniciar Sesión</button>
            </div>

            <p class="mt-4 form-subtitle">@ViewData["Message"]</p>
        </main>
    </div>
</form>