@page "/create"
@model WordPressCreateInstance

@{
    ViewData["Title"] = "Crear Instancia";
    Layout = "_Layout";
}

@section Styles {
    <link href="~/css/Instances/create-instance.css" rel="stylesheet"/>
}

<main class="create-container">
    <div class="create-content">
        <div class="create-wrapper">
            <div class="breadcrumb">
                <a class="breadcrumb-link" href="/instances">Instances</a>
                <span class="breadcrumb-link">/</span>
                <span class="breadcrumb-current">Crear nuevo sitio</span>
            </div>

            <div class="page-header">
                <h1 class="page-title">Lanza una Nueva Instancia de WordPress</h1>
                <p class="page-subtitle">Rellena los detalles a continuación para poner en marcha tu nuevo sitio.</p>
            </div>

            <div class="form-card">
                <form method="post" class="form-container">
                    <label class="flex flex-col">
                        <p class="form-label">Nombre del sitio</p>
                        <input asp-for="InstancesModel.SiteName"
                               class="form-input"
                               placeholder="Mi sitio WordPress"
                               type="text"/>
                        <span asp-validation-for="InstancesModel.SiteName" class="validation-error"></span>
                    </label>

                    <label class="flex flex-col">
                        <p class="form-label">Dirección del Sitio</p>
                        <div class="input-group">
                            <input asp-for="InstancesModel.SiteAddress"
                                   class="input-group-input"
                                   placeholder="Introduzca la dirección de tu sitio"/>
                            <div class="input-group-suffix">
                                <span style="font-size: 16px;">flowpress.site</span>
                            </div>
                        </div>
                        <span asp-validation-for="InstancesModel.SiteAddress" class="validation-error"></span>
                    </label>
                    <div style="padding-top: 1rem;">
                        <button type="submit" class="btn-submit">Lanzar Sitio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>